<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    th:with="titulo1='Em Construção', titulo2='Página em Desenvolvimento'">
<head>
    <meta th:insert="~{/fragments/head :: head(${titulo1})}">
</head>
<body>
    <div th:replace="~{/fragments/body :: logo(titulo='HospitalCare')}"></div>

    <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
        <div th:replace="~{/fragments/body :: menu}"></div>
        <div th:replace="~{/fragments/body :: sair(titulo='Sair')}"></div> 
    </nav>

    <h1>  404 Not Found</h1></br>
    <img class="mb-4" th:src="@{/imagens/obra.jpg}" alt="Acesso Proibido"></img></br>
    <div class="centered">
        <h2>Desculpe os transtornos, página em desenvolvimento!!</h2>
        <h2>Entre em contato com o administrador para mais detalhes!!</h2>
    </div>
</body>
</html>