<!DOCTYPE html>
<html lang="pt_BR" 
    xmlns:th="www.thymeleaf.org" 
    th:import="org.thymeleaf.spring5.util.SpringSelectedValueComparator">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragments Body</title>
</head>
<body>

    <!-- Logo + título da página -->
    <div class="logo-bar mb-1 p-1" th:fragment="logo(titulo)">
        <span class="logo-font">
            <img th:src="@{/imagens/header-t.png}" th:text="${titulo}"/> 
        </span>
    </div>

    <!-- Menu superior da página -->
    <div class="navbar-nav" th:fragment="menu">
        <a sec:authorize="hasAnyRole('USER', 'ADMIN')" th:classappend="${menu == 'home'} ? 'active'"  
            class="nav-item nav-link" th:href="@{/home}">
            Home
        </a>
        <a sec:authorize="hasRole('ADMIN')" th:classappend="${menu == 'medico'} ? 'active'"  
            class="nav-item nav-link" th:href="@{/medico}">
            Medicos
        </a>
        <a sec:authorize="hasRole('USER','ADMIN')" th:classappend="${menu == 'paciente'} ? 'active'"  
            class="nav-item nav-link" th:href="@{/paciente}">
            Pacientes
        </a>
        <a sec:authorize="hasRole('USER','ADMIN')" th:classappend="${menu == 'enfermeiro'} ? 'active'"  
            class="nav-item nav-link" th:href="@{/enfermeiro}">
            Enfermeiros
        </a>
        <a sec:authorize="hasRole('USER','ADMIN')" th:classappend="${menu == 'recepcionista'} ? 'active'"  
            class="nav-item nav-link" th:href="@{/auth/obra}">
            Recepcionistas
        </a>
        <a sec:authorize="hasRole('USER','ADMIN')" th:classappend="${menu == 'documento'} ? 'active'"  
            class="nav-item nav-link" th:href="@{/auth/obra}">
            Documentos
        </a>
    </div>

    <!-- Botão Sair da página Home + identificação do usuário -->
    <a th:fragment="sair(titulo)" class="form-inline my-2 my-lg-0" 
            th:href="@{/auth/logout}" method="POST">
        <span sec:authorize="isAuthenticated()" sec:authentication="name" 
            style="margin-right: 3px; font-size: 0.8em;"></span>
        <button class="btn btn-outline-secondary my-0 my-sm-0" type="submit" title="Sair">
            <img th:src="@{/imagens/sair.png}" alt="Sair"/> Sair
        </button>
    </a> 

    <!-- Título do card da página+ -->
    <div class="card-header" th:fragment="titulo(titulo)" th:text="${titulo}"></div>

    <!-- Mensagem de Error/Sucesso do Formulário -->
    <div style="margin-right: 5px;" th:fragment="mensagens">
        <div th:text="${errorMensagem}" 
            th:if="${errorMensagem ne null}" 
            class="alert alert-danger" ></div>

        <div th:text="${succesMensagem}" 
            th:if="${succesMensagem ne null}" 
            class="alert alert-success" ></div>
    </div>

    <!-- Dados do formulário de Médico -->
    <div class="navbar-nav" th:fragment="formMedico">
        <input type="hidden" required th:field="*{id}" />
        <div class="form-group mx-sm-0 mb-2">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" th:field="*{nome}" maxlength="50"/>
            <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}"></p>
        </div>
        <div class="form-group mx-sm-0 mb-2">
            <label for="crm" class="form-label">CRM:</label>
            <input type="text" class="form-control" th:field="*{crm}" />
            <p th:if="${#fields.hasErrors('crm')}" th:errorclass="error" th:errors="*{crm}"></p>
        </div>
        <div class="form-group mx-sm-0 mb-2">
             <label for="sexo" class="form-label">Sexo:</label>
            <select th:field="*{sexo}" class="form-select"  >
                <option th:value="''" th:text="''"></option>
                <option th:value="'M'" th:text="Masculino"></option>
                <option th:value="'F'" th:text="Feminino"></option>
            </select>
        </div>
        <div class="form-group mx-sm-0 mb-2">
            <label for="dataNascimento" class="form-label">Data Nascimento:</label>
            <input type="date" class="form-control" th:field="*{dataNascimento}" />
            <p th:if="${#fields.hasErrors('dataNascimento')}" th:errorclass="error" th:errors="*{dataNascimento}"></p> 
        </div>
        <div class="form-group mx-sm-0 mb-2">
            <label for="especialidade" class="form-label">Especialidade:</label>
            <select th:field="*{especialidade}" class="form-select"  >
                <option th:value="''" th:text="''"></option>
                <option th:value="'Clinico Geral'" th:text="'Clinico Geral'"></option>
                <option th:value="'Cardiologia'" th:text="Cardiologia"></option>
                <option th:value="'Dermatologia'" th:text="Dermatologia"></option>
                <option th:value="'Endocriologia'" th:text="Endocriologia"></option>
                <option th:value="'Ginecologia'" th:text="Ginecologia"></option>
                <option th:value="'Hematologia'" th:text="Hematologia"></option>
                <option th:value="'Neurologia'" th:text="Neurologia"></option>
                <option th:value="'Oftalmologia'" th:text="Oftalmologia"></option>
                <option th:value="'Oncologia'" th:text="Oncologia"></option>
                <option th:value="'Ortopedia'" th:text="Ortopedia"></option>
                <option th:value="'Pediatria'" th:text="Pediatra"></option>
                <option th:value="'Psiquiatria'" th:text="Psiquiatria"></option>
                <option th:value="'Urologia'" th:text="Urologia"></option>
            </select>
        </div>
        <div class="form-group mx-sm-0 mb-2">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="number" class="form-control" th:field="*{telefone}"/> 
            <p th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" th:errorclass="error">
        </div>
    </div>

    <!-- Dados do formulário de User -->
    <div class="navbar-nav" th:fragment="formUser">
        <input type="hidden" required th:field="*{id}"/>
        <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" th:field="*{nome}" maxlength="50"/>
            <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}"></p>
        <label for="username" class="form-label">Email</label>
            <input type="text" class="form-control" th:field="*{username}" />
            <p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"></p>
        <label for="password" class="form-label">Senha</label>
            <input type="text" class="form-control" th:field="*{password}" />
            <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></p>
        <label for="enabled" class="form-label">Habilitar</label>
                <input  type="checkbox" th:field="*{enabled}">
                <p th:if="${#fields.hasErrors('enabled')}" th:errorclass="error" th:errors="*{enabled}"></p>
    </div>

    <!-- Dados do formulário de Paciente -->
    <div class="navbar-nav" th:fragment="formPaciente">
        <input type="hidden" required th:field="*{id}" />
        <div class="form-group mx-sm-0 mb-2">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" th:field="*{nome}" maxlength="50"/>
            <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}"></p>
        </div>
        <div class="form-group mx-sm-0 mb-2">
            <label for="cpf" class="form-label">CPF:</label>
            <input type="text" class="form-control" th:field="*{cpf}" />
            <p th:if="${#fields.hasErrors('cpf')}" th:errorclass="error" th:errors="*{cpf}"></p>
        </div>
        <div class="form-group mx-sm-0 mb-2">
             <label for="sexo" class="form-label">Sexo:</label>
            <select th:field="*{sexo}" class="form-select"  >
                <option th:value="''" th:text="''"></option>
                <option th:value="'M'" th:text="Masculino"></option>
                <option th:value="'F'" th:text="Feminino"></option>
            </select>
        </div>
        <div class="form-group mx-sm-0 mb-2">
            <label for="dataNascimento" class="form-label">Data Nascimento:</label>
            <input type="date" class="form-control" th:field="*{dataNascimento}" />
            <p th:if="${#fields.hasErrors('dataNascimento')}" th:errorclass="error" th:errors="*{dataNascimento}"></p> 
        </div>
        <div class="form-group mx-sm-0 mb-2">
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" th:field="*{email}" class="form-control"/>
            <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>
        </div>
        <div class="form-group mx-sm-0 mb-2">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="number" class="form-control" th:field="*{telefone}"/> 
            <p th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" th:errorclass="error">
        </div>
    </div>

    <!-- Dados do formulário de Enfermeiro -->
    <div class="navbar-nav" th:fragment="formEnfermeiro">
        <input type="hidden" required th:field="*{id}" />
        <div class="form-group mx-sm-0 mb-2">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" th:field="*{nome}" maxlength="50"/>
            <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}"></p>
        </div>
        <div class="form-group mx-sm-0 mb-2">
            <label for="coren" class="form-label">COREN:</label>
            <input type="text" class="form-control" th:field="*{coren}" />
            <p th:if="${#fields.hasErrors('coren')}" th:errorclass="error" th:errors="*{coren}"></p>
        </div>
        <div class="form-group mx-sm-0 mb-2">
             <label for="sexo" class="form-label">Sexo:</label>
            <select th:field="*{sexo}" class="form-select"  >
                <option th:value="''" th:text="''"></option>
                <option th:value="'M'" th:text="Masculino"></option>
                <option th:value="'F'" th:text="Feminino"></option>
            </select>
        </div>
        <div class="form-group mx-sm-0 mb-2">
            <label for="dataNascimento" class="form-label">Data Nascimento:</label>
            <input type="date" class="form-control" th:field="*{dataNascimento}" />
            <p th:if="${#fields.hasErrors('dataNascimento')}" th:errorclass="error" th:errors="*{dataNascimento}"></p> 
        </div>
        <div class="form-group mx-sm-0 mb-2">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="number" class="form-control" th:field="*{telefone}"/> 
            <p th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" th:errorclass="error">
        </div>
    </div>
</body>
</html>